<footer>
    <div class="site-footer">
        <div class = "footer-links" >
            <a href="{{ .Site.Params.github }}" target="_blank">
                <img src="/icons/github.svg" alt="GitHub" width="30" height="30">
            </a>
            <a href="{{ .Site.Params.email }}">
                <img src="/icons/mail.svg" alt="Email" width="30" height="30">
            </a>
            <a href="{{ .Site.Params.linkedin }}">
                <img src="/icons/linkedin.svg" alt="LinkedIn" width="30" height="30">
            </a>
            <a href="{{ .Site.Params.pinterest }}">
                <img src="/icons/pinterest.svg" alt="Pinterest" width="30" height="30">
            </a>
            <a href="{{ .Site.Params.cv }}">
                <img src="/icons/file-text.svg" alt="CV" width="30" height="30">
            </a>

        </div>
    </div>
</footer>