<footer>
        <div class="site-footer">
            <div class = "footer-links" >
                <a href="https://github.com/yourusername" target="_blank">
                    <img src="/icons/github.svg" alt="GitHub" width="30" height="30">
                </a>
                <a href="mailto:your.email@example.com">
                    <img src="/icons/mail.svg" alt="Email" width="30" height="30">
                </a>
                <a href="https://www.linkedin.com/">
                    <img src="/icons/linkedin.svg" alt="LinkedIn" width="30" height="30">
                </a>
                <a href="https://www.pinterest.com/">
                    <img src="/icons/pinterest.svg" alt="Pinterest" width="30" height="30">
                </a>
                <a href="/pdfs/exampleCV.pdf">
                    <img src="/icons/file-text.svg" alt="CV" width="30" height="30">
                </a>

            </div>
        </div>
</footer>